{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}

<br>
<div style="left:100px">
    <head>
        <style>
        #about {
          color: black;
          bold
          font size: 30em;
        }
        </style>
    </head>
    <p strong id='about'><a href="{% url 'about' %}">ABOUT</a></p>

    <form action="{% url 'count' %}">
        <textarea align="center" cols="40" rows="19" name="fulltext"></textarea>
        <br>
        <input type="submit" volume="count!"/>
    </form>
</div>
{% endblock %}
